<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="de.alpharogroup.random.RandomUtilsTest"/>
      <class name="de.alpharogroup.random.RandomObjectsUtilsTest"/>
      <class name="de.alpharogroup.random.date.RandomDateUtilsTest"/>
      <class name="de.alpharogroup.random.address.RandomAddressUtilsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
