<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
		<class name="io.github.astrapi69.crypto.decorator.CryptObjectDecoratorExtensionsTest"/>
		<class name="io.github.astrapi69.crypto.io.CryptoCipherInputOutputStreamTest"/>
		<class name="io.github.astrapi69.crypto.key.KeyEncryptDecryptorTest"/>
		<class name="io.github.astrapi69.crypto.key.KeyHexEncryptDecryptorTest"/>
		<class name="io.github.astrapi69.crypto.sha.HasherTest"/>
		<class name="io.github.astrapi69.crypto.simple.SimpleEnDecryptorTest"/>
		<class name="io.github.astrapi69.crypto.processors.bruteforce.BruteForceProcessorTest"/>
		<class name="io.github.astrapi69.crypto.simple.SimpleCryptTest"/>
		<class name="io.github.astrapi69.crypto.processors.wordlist.WordlistsProcessorTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
